/* Center all page content in the middle of the screen and set a grey background */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
}

/* Styles the clock */
.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 10px solid black;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Basic style for all clock hands */
.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 6px;
  background: black;
  transform-origin: left center;
}

/* Hour hand */
.hour-hand {
  width: 30%;
}

/* Minute hand */
.min-hand {
  width: 40%;
  height: 3px;
}

/* Second hand */
.second-hand {
  width: 48%;
  height: 2px;
  background: red;
}

/* Dot in the middle of the clock */
.inner-clock-face::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: black;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Clock markings (12, 3, 6, 9) */
.marking {
  position: absolute;
  width: 4px;
  height: 15px;
  background-color: black;
  top: 47.5%;
  left: 49.5%;
  transform-origin: center center;
}

.marking-one {
  transform: rotate(0deg) translateY(-145px);
}

.marking-two {
  transform: rotate(90deg) translateY(-145px);
}

.marking-three {
  transform: rotate(180deg) translateY(-145px);
}

.marking-four {
  transform: rotate(270deg) translateY(-145px);
}
